.item-select {
  position: initial;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0px 2px 19px rgba(0, 0, 0, 0);
}
.teste {
  background-color: transparent !important;
}
ion-select-option {
  color: #05132a;
}
.contentBlock {
  padding: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-block {
}
